<html ng-app="app">
<head>
  <title>Movies Data</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
</head>
<body>

<ng-view></ng-view>
  
<!-- Template -->   
<script type="text/ng-template" id="/movies.html">
{{result}}
<br>
<br>
  <div ng-repeat="d in result.data.Search">
    {{d.Title}}    
  </div>
  <br>
  <input type="text" ng-model="title"/>
  <br>
  <button ng-click="searchFunc(title)">Search</button>
</script>

<script>
    angular.module('app', ['ngRoute'])

    .service('movieService', function($http) {
        this.getData = function(title) {
            return $http({
                method: 'GET',
                url: 'http://www.omdbapi.com/?s=' + title,
            })
        }
    })
    .controller('MoviesController', ['$scope', 'movieService', function ($scope, movieService) {
        $scope.searchFunc = function(title) {
            movieService.getData(title).then(function(dataResponse) {
                $scope.result = dataResponse
            })
        }
    }])
    
    .config(['$routeProvider', function ($routeProvider) {
        $routeProvider
        .when('/', {
            templateUrl: '/movies.html',
            controller: 'MoviesController'
        })
    }])
    
    .config(['$locationProvider', function($locationProvider) {
        $locationProvider.hashPrefix("");
    }]);
</script>
</body>
</html>